<style>
  #main{
    background-color: #40FDA3;
  }

  #title{
    text-align: center;
    color: #ecf0f1;
    font-size: 2.5em;
    margin-top: 25%;
  }

  #subtitle{

    text-align: center;
    color: #ecf0f1;
    
    margin-top: 30%;    
  }



</style>

<ion-view title="IHeart">
  <ion-content id="main" class="has-header padding">

  <div id="main-logo"> 
    <img src='/'> 


  </div>

  <div id="title">
    Health Note
    <br>
    <br>


    <h4 style=" color: #ecf0f1;"> Personalized healthcare</h4>

  <div>

  <br>

  <!-- buttons -->

  <button class="button button-balanced" style="width: 50%; border-radius: 15px; background-color: #40FDA3; border-color: white;">Login</button>  
  <br>
  <br>
  <button class="button button-balanced" style="width: 50%; border-radius: 15px; background-color: #40FDA3; border-color: white;">Sign up</button>  
  <br>

	

  </ion-content>
</ion-view>