<ion-view title="IHeart"> 
  <ion-content>



	<div class="bar bar-header bar-royal">
		<button class="button icon ion-navicon"></button>
		<h1 class="title">Watson Questions</h1>
		<button class="button" style="border-radius: 20px; background-color: #5F8DC0;">Ask</button>
		
	</div>
	<br>
	<br>
	<br>


	<!-- Ask Watson -->
	<div class="list">

	  <div class="item item-input-inset">
	    <label class="item-input-wrapper">
	      <input type="text" placeholder="Ask Question">
	    </label>
	    <button class="button button-small">
	      Submit
	    </button>
	  </div>

	</div>	


	<div class="list">

	    <a class="item item-avatar" href="#">
	      <!-- <img src="venkman.jpg"> -->
	      <h2>Venkman</h2>
	      <p>I just recovered from heart surgery, should I eat chicken?</p>
	    </a>

	    <a class="item item-avatar" href="#">
	      
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	    </a>

	    <a class="item item-avatar" href="#">
	      
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	    </a>

	    <a class="item item-avatar" href="#">
	     
	      <h2>Venkman</h2>
	      <p>Back off, man. I'm a scientist.</p>
	    </a>	    
	    
	</div>	


<!-- 
    <ion-list>
      <ion-item ng-repeat="position in positions" type="item-text-wrap">
        {{ position }}
      </ion-item>
    </ion-list>'
 -->  




 </ion-content>
</ion-view>
